

.characterName{
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid black;
    padding: 6px;
}



.characters{
    width: 12rem;
    height: 17rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    
}
