.gryffContainer{
    background-color:  #252633;
    color: white;
    
}



.characterContainer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    overflow: scroll;
}
.homeInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1px;
}
.homeInput>img{
    height:150px;
    width: 150px;
}